---
import HeaderButton from "./HeaderButton.astro";
import { Counter } from "./Counter.jsx";
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
      María Glez - INMOTION
    </h2>
    <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
      Todo sobre energía y movimiento
    </p>
  </div>

  <Counter client:visible transition:persist />

  <nav
    class="flex flex-col items-center justify-between w-full text-center md:flex-row"
  >
    <HeaderButton href="/" class="text-white">
      <svg
        slot="after"
        class="w-6 h-6 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 22 20"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M11 16.5A2.493 2.493 0 0 1 6.51 18H6.5a2.468 2.468 0 0 1-2.4-3.154 2.98 2.98 0 0 1-.85-5.274 2.468 2.468 0 0 1 .921-3.182 2.477 2.477 0 0 1 1.875-3.344 2.5 2.5 0 0 1 3.41-1.856A2.5 2.5 0 0 1 11 3.5m0 13v-13m0 13a2.492 2.492 0 0 0 4.49 1.5h.01a2.467 2.467 0 0 0 2.403-3.154 2.98 2.98 0 0 0 .847-5.274 2.468 2.468 0 0 0-.921-3.182 2.479 2.479 0 0 0-1.875-3.344A2.5 2.5 0 0 0 13.5 1 2.5 2.5 0 0 0 11 3.5m-8 5a2.5 2.5 0 0 1 3.48-2.3m-.28 8.551a3 3 0 0 1-2.953-5.185M19 8.5a2.5 2.5 0 0 0-3.481-2.3m.28 8.551a3 3 0 0 0 2.954-5.185"
        ></path>
      </svg>
      Movimiento
    </HeaderButton>
    <HeaderButton href="/energy" class="text-white">Energía</HeaderButton>
    <HeaderButton href="/about" class="text-white">Sobre nosotros</HeaderButton>
    <HeaderButton href="/blog/primer-articulo" class="text-white">
      Artículo
    </HeaderButton>
  </nav>
</header>
